/*
This file is only used as an example, and will be deleted.
 */

.button {
  font-size: 14px;
  line-height: 19px;
  // border: 1px solid $color-pink;
  // color: $color-pink;
  cursor: pointer;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  transition: 0.3s ease all;
  user-select: none;

  &:hover {
    // border: 1px solid $color-white-0;
    // color: $color-white-0;
  }
}